jda:
  discord:
    token:
    guild-id:
    raid-text-channel-ids:
    user-roles:
    admin-roles:
    icons:
      classes:
        death_knight:
        druid:
        hunter:
        mage:
        paladin:
        priest:
        rogue:
        shaman:
        warlock:
        warrior:
      specs:
        death_knight_blood:
        death_knight_frost:
        death_knight_unholy:
        druid_balance:
        druid_cat:
        druid_resto:
        druid_tank:
        hunter:
        mage:
        paladin_heal:
        paladin_prot:
        paladin_ret:
        priest_heal:
        priest_shadow:
        rogue:
        shaman_elem:
        shaman_enh:
        shaman_resto:
        warlock:
        warrior_dps:
        warrior_tank:
      responses:
        present:
        late:
        bench:
        absent:
spring:
  security:
    oauth2:
      client:
        registration:
          discord:
            client-id:
            client-secret:
